/* destination CSS Style */
.destination{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.dest-h2{
  text-align: center;
  margin-top: 70px;
  padding-bottom: 20px;
  border-bottom: 1px solid #0984e3;
}

.destination li{
  padding: 20px;
  flex-basis: 250px;
}

.destination li img{
  border-radius: 100%;
  opacity: 1;
  transition: all .5s ease;
}

.destination li img:hover{
  opacity: .7;
}

@media screen and (max-width: 656px) {
  .destination li{
    flex-basis: auto;
  }
}


